<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div class="sidebar-header">
      <h3>My App</h3>
    </div>

    <!-- User Info Section -->
    <div class="user-info">
      <h4 class="username">{{ currentUserUsername() }}</h4>
      <p class="email">{{ currentUserEmail() }}</p>
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/home/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon> <!-- Changed to dashboard icon -->
        Dashboard
      </a>
      <a mat-list-item routerLink="/home/profile" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        Profile
      </a>
      <a mat-list-item routerLink="/home/settings" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        Settings
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content> -->
</mat-sidenav-container>
