<div class="mb-2 h2 text-success">
  Sign Up
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input  class="form-control bg-body-secondary" placeholder="first Name" formControlName="firstName">
    <div class="error-feedback" *ngIf= "hasDisplayableError('firstName') && form.controls['firstName'].hasError('required')">
      please enter your first name
    </div>
  </div>
  <div class="mb-3">
    <input  class="form-control bg-body-secondary" placeholder="last Name" formControlName="lastName">
    <div class="error-feedback" *ngIf= "hasDisplayableError('lastName') && form.controls['lastName'].hasError('required')">
      please enter your last name
    </div>
  </div>
  <div class="mb-3">
    <input  class="form-control bg-body-secondary" placeholder="username" formControlName="username">
    <div class="error-feedback" *ngIf= "hasDisplayableError('username') && form.controls['username'].hasError('required')">
      please enter your user name
    </div>
  </div>
  <div class="mb-3">
    <input  class="form-control bg-body-secondary" placeholder="Email" formControlName="email">
    <div class="error-feedback" *ngIf= "hasDisplayableError('email')">
      <div *ngIf="form.controls['email'].hasError('required')">please enter your full name</div>
      <div *ngIf="form.controls['email'].hasError('email')">Please enter a valid email address.</div>
    </div>
  </div>
  <div class="mb-3">
    <input  class="form-control bg-body-secondary" placeholder="Password" formControlName="password">
    <div class="error-feedback" *ngIf="hasDisplayableError('password')">
      <ng-container [ngSwitch]="form.controls['password'].errors | firstKey">
        <div *ngSwitchCase="'required'">
          Please enter your password.
        </div>
        <div *ngSwitchCase="'minlength'">
          Atleast 6 characters required.
        </div>
        <div *ngSwitchCase="'pattern'">
          One or more special character(s).
        </div>
      </ng-container>
    </div>
  </div>
  <div class="mb-3">
    <input  class="form-control bg-body-secondary" placeholder="Confirm Password" formControlName="confirmPassword">
    <div class="error-feedback"
    *ngIf="hasDisplayableError('confirmPassword') && form.controls['confirmPassword'].hasError('passwordMismatch')">
      Passwords doesn't match.
    </div>
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-success w-100 rounded-3">Register</button>
  </div>
  <div class="mt-4">
    <button [routerLink]="'/user/login'" class="btn btn-success w-100 rounded-3">Log In</button>
  </div>
</form>
